.note-actions-container {
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-inline: auto;
}

.note-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-button {
  width: 250px;           
  padding: 12px;            
  font-size: 16px;         
  border: 1px solid rgb(212, 209, 209); 
  border-radius: 6px;       
  background-color: white;  
  cursor: pointer;          
  display: flex;           
  align-items: center;      
  justify-content: center;  
  gap: 8px;                 
  margin: 0 auto;   
 justify-content: flex-start;    
      
}

.note-button-archived {
  width: 20px;             
  height: 20px;
} 

.note-button-delete {
  width: 20px;
  height: 20px;
}









  



