.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  filter: opacity(0.5);
  pointer-events: none;
}

.search-input {
  width: 16rem;
  padding: 0.9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}
