.logo-sidebar-container {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-inline: 1.5rem;
}

.logo-container {
    display: flex;
    gap: 0.3rem;
    margin: 0;
    align-items: center;
    font-size: 2.3rem;
    font-family: 'Pacifico', cursive;
    
}

.logo-image {
    max-width: 100%;
    height: auto;
    width: 3rem;
    min-width: 1.5rem;
    filter: invert(21%) sepia(44%) saturate(1155%) hue-rotate(244deg) brightness(88%) contrast(96%);
    margin-top: -10px;;
    
}