
 .sign-up-bg {
  display: flex;
  padding: 300px;
  width: 100%;
  height: 100vh; 
  align-items: center;
  justify-content: center;
  background: url("https://static.vecteezy.com/system/resources/previews/047/758/630/non_2x/laptop-home-office-desk-2d-cartoon-background-workspace-late-night-colorful-aesthetic-illustration-nobody-cubicle-corporate-job-workstation-table-sticky-notes-flat-wallpaper-art-lofi-image-vector.jpg") no-repeat center center;
  background-size: cover; 
  position: relative;
}


.sign-up-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}



.sign-up-container h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 1px;
}

.sign-up-email input,
.sign-up-password input {
  width: 100%;
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #dadae9;
  font-size: 16px;
  position: relative;
}

.sign-up-container input::placeholder {
  color: #cccccc;
}

.sign-up-button button {
  width: 97px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background-color: #ffffff;
  color: #003333;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.sign-up-button button:hover {
  background-color: #e0e0e0;
}

.sign-up-link {
  display: block;
  margin-top: 15px;
  color: #ffffff;
  text-decoration: underline;
}

.sign-up-container {
  background: rgba(0, 16, 109, 0.8); 
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 50px;
  width: 350px;
  text-align: center;
  border-radius: 15px;
  
}
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; 
}



