.logo-container {
    display: flex;
    gap: 0.3rem;
    margin: 0;
    align-items: center;
    font-size: 2.3rem;
    font-weight: bold;
    font-style: italic;
    /* border: 1px solid red; */
}

.logo-image {
    max-width: 100%;
    height: auto;
    width: 2.5rem;
    min-width: 1.5rem;
    /* border: 1px solid red; */
}