.search-container {
  display: flex;
  position: relative;
  align-items: center;
}

.search-icon {
  position: absolute;
  inset: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  filter: opacity(0.5);
  pointer-events: none;
}

.search-input {
  width: 20rem;
  padding: 0.9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.hidden {
  visibility: hidden;
}