/* src/styles/layout/note-list/Section.css */

/*.create-button {
  background-color: #3b82f6; 
  color: white;              
  padding: 10px 20px;
  border: none;
  border-radius: 8px;      
  
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}*/

.formulario {
  max-width: 700px;
  margin: 40px auto;
  background: #F5F2F7;
  border-radius: 12px;
  border: #ccc 1px solid;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 35px;
  font-family: system-ui, sans-serif;
  position: absolute;
  width: 100%;
  left: 62.5rem;
  top: 6rem;
}

.form-section {
  margin-bottom: 24px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

.input-form[type="text"],
.form-textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 15px;
}

.form-textarea {
  min-height: 140px;
  resize: vertical;
}

.form-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.form-tag {
  background: #e5e7eb;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form-tag.selected {
  background-color:  #934683;
  color: white;
}

.form-fecha {
  font-size: 14px;
  color: #555;
  margin: -10px 0 20px;
}

.form-footer {
  display: flex;
  gap: 12px;
}

.form-save {
  background-color: #582969;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-save:hover {
  background-color: #6A2E85;
}

.form-cancel {
  background-color: #e5e7eb;
  color: #111827;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-cancel:hover {
  background-color: #d1d5db;
}

.form-tags-input button {
  padding: 8px 12px;
  background-color: #582969;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 8px;
}