.note-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    gap: 8px;
    padding: 0.5rem;
}

.note-container:hover {
    background-color: #dbdbdb;
    border-radius: 8px;
}

.note-title {
    font-size: 1.5rem;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag-container p {
    padding-block: 2px;
    padding-inline: 0.5rem;
    font-size: 0.8rem;
    background-color: rgb(221, 215, 215);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.date {
    font-size: 0.9rem;
    color: #444;
}